<!DOCTYPE html>
<html>
  <head>
    <title>Simple Group Chat on Node.js</title>
    <style>
      <%- myCss.style %>
      <link rel="stylesheet" type="text/css" href="./style.css">
    </style>
    <script src="../../socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>
  <body>
    <div class = "menuWrap">
      <input type="checkbox" class="toggler">
      <div class="hamburger"><div></div></div>
        <div class="menu">
          <div>
            <ul>
              <li><a id="changeName" href='#'>Change Username</a></li>
            </ul>
          </div>
        </div>
    </div>
    <ul id="messages"></ul>
    <form action="/" method="POST" id="chatForm">
      <input id="txt" autocomplete="off" autofocus="on" oninput="isTyping()" placeholder="type your message here..." />
      <button class="sendButton">Send</button> 
    </form>
    <script src = "./indexScript.js"></script>
  </body>
</html>
